h1
{
    font-family: Arial;
    font-size: 1.8em;
}

h2
{
    font-family: Arial;
    font-size: 1.5em;
}

h3
{
    font-family: Arial;
    font-size: 1.4em;
}

p
{
    font-family: "Times New Roman";
}

.red
{
    color: red;
}

.green
{
    color: green;
}

.blue
{
    color: blue;
}