section{
    width: 1200px;
    margin: auto;
}

header{
    background-image: url("../header.jpg");
    height: 120px;
    color: #EDF2F4;
    padding: 0 0 0 10px;
    font-size: 25px;
    font-family: helvetica;
}

nav{
    background-color: #5E5C5C;
    height: 20px;
}

nav>a {
    color: #6DFF59;
    text-decoration: none;
    padding-left: 10px;
}

article{
    background-color: #DBDBDB;
    margin: 5px;
    padding: 1px 0 3px 10px;
}

article>header{
    font-size: 30px;
    color: #5E5C5C;
    font-family: helvetica;
    text-decoration: underline;
    background-image: none;
    height: auto;
    padding: 0;
}